//顶部导航
.top-nav{
    background:rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 10px rgb(83, 83, 83);
    padding: 5px 0;
    .back-guide.am-flexbox-item{
        flex: 0 0 30px;
        padding-left:10px;
        padding-right:10px;
    }
    .home-guide.am-flexbox-item{
        flex: 0 0 20px;
        margin-left:5px;
        text-align: center;
    }
    .title{
        text-align: center;
    }
    .sure{
        flex: 0 0 50px;
        text-align: right;
        color:#1985ac;
        span{margin-right:10px;}
    }
    //搜索框
    .fakeSearch-wrapper{
        text-align: center;

        color:rgb(233, 225, 225);
        overflow:hidden;
        .fakeSearch{
            background:rgba(87, 86, 86, 0.25);
            margin:0 4% 0 0;
            border-radius:5px;
            height:26px;
            line-height: 26px;
        }
    }
}
