.leelen-detail-list{
    .am-flexbox{
        text-align: center;
        background:#fff;
    }
    .leelen-detail-list-body{
        overflow:auto;
        -webkit-overflow-scrolling: touch; 
    }
    .am-flexbox{
        border-bottom:1px solid #f7f7f7;
        &.header{
            border-bottom:1px solid #474646;
            .am-flexbox-item{
                padding: 5px 10px;
            }
            .header-status{
                text-align: left;
                font-size:10px;
                li{
                    line-height: 1.2;
                }
                li span{
                    float:left;
                    margin-top:4px;
                    padding:3px;
                    background:red;
                    margin-right:2px;
                }
            }
        }
        .am-flexbox-item{
             padding: 10px;
             &.status{
                 margin-left:15px;
                 padding: 0px;
                 flex: 0 0 45px;
                 font-size:10px;
                 line-height: 1.2;
                 color:#fff;
                 >div{
                     width:12px;
                     height:12px;
                     border-radius:50%;
                 }
                 .used{
                     background:#47cf73;
                 }
                .not-use{
                    background:#fe4800;
                }
                 .disable{
                    background:#b7b9b8;
                 }
             }
        }
    }

    //设备列表
    &.device{
        .am-flexbox-item{
            text-align: left;
            &.status{
                flex: 0 0 30px;
            }
            &.number{
                flex:1 0 30%;
            }
            span{
                font-size:9px;
                padding:0 1px;
                line-height: 1;
                margin-right:3px;
                color:#fff;
                border:1px solid;
                &.color-1{ border-color:#fb6878;color:#fb6878}
                &.color-2{ border-color:#f3a93a;color:#f3a93a}
                &.color-3{ border-color:#59baf1;color:#59baf1}
                &.color-4{ border-color:#5aec4c;color:#5aec4c}
            }
        }
    }
}